@import "tailwindcss";

@layer base {
   * {
      scroll-behavior: smooth;
   }

   *,
   ::after,
   ::before,
   ::backdrop,
   ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
   }

   button:not(:disabled),
   [role="button"]:not(:disabled) {
      cursor: pointer;
   }
}